@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

body {
    background-color: #FAFAFB;
    font-family: 'Ubuntu Mono', monospace;
    white-space: nowrap;
    margin: 0 2em 2em 2em;
    min-width: calc(700px - 4em);
}

h1 {
    padding-left: 0.5em;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

.btn_grp {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 70%;
}

.btn {
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: #B3B3B3;
    display: flex;
    flex: 1;
    margin: 0 0.75em 0 0;
    box-sizing: border-box;
    overflow: hidden;
}

.btn span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected {
    background-color: #CCCCCC;
}

.short_text {
    display: none;
}

@media (max-width: 700px) {
    .short_text { display: inline-block; }
    .long_text { display: none; }
}

#import {
    margin: 0px 0px 3px 0px;
    flex: 0.25;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    width: 100%;
    background-color: #CCCCCC;
}

figure {
    width: 300px;
    box-sizing: border-box;
    margin: 0;
    padding: 1em;
}

figure img {
    width: 100%;
}

a {
    box-sizing: border-box;
    height: 100%;
    width: calc(100% - 2em)
}

a div {
    position: absolute;
    width: calc(300px - 2em)
}

a div span {
    display: none;
    position: relative;
    width: 100%;
    bottom: 1.5em;
    direction: rtl;
    color: black;
    padding-right: 0.5em;
    box-sizing: border-box;
}

figure:hover a div span{
    display: block;
}

figure:hover img {
    opacity: 0.5;
    filter: saturate(50%);
}

figure label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.25em;
    box-sizing: border-box;
}

figure .slow {
    background-color: #E94858
}

figure .error {
    background-color: red
}

figure .medium {
    background-color: #F3A32A
}

figure .fast {
    background-color: rgb(130, 191, 110); 
}

figcaption {
    overflow: hidden;
    text-overflow: ellipsis;
}